 <!-- <body>
    <h3>Welcome to {{title}},{{tagline}} </h3>
  </body> -->
<header class="header">
  <nav class="top-nav">
    <div class="ekart--header--nav">
        <top-menu></top-menu>
      </div>
  </nav>
  <nav class="navbar">
    <div class="logo">
      <fa-icon [icon]="icons.cart"></fa-icon>
      Ekart
    </div>
    <div class="right-section">
      <main-menu></main-menu>
      <button class="login-btn">
        <fa-icon [icon]="icons.search"></fa-icon>
        Login
      </button>
    </div>
  </nav>
</header>
