.ekart--top--bar{
    width: auto;
    text-align: right;
    padding-top: 3px;
    padding-bottom: 15px;
    padding-right: 30px;
}
.b{
    color: black;
}
.b:hover{
    color: white;
}
.b:active{
    color: wheat;
}
