@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
  font-family: "Montserrat", sans-serif;
}
a {
  font-family: "Montserrat", sans-serif;
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
}
a :hover{
  color: black;
}
